[Configuration]
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBordersDefault=TRUE
MiscCursorBlinks=FALSE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_BLOCK
MiscDefaultGeometry=80x24
MiscInheritGeometry=FALSE
MiscMenubarDefault=TRUE
MiscMouseAutohide=FALSE
MiscToolbarDefault=FALSE
MiscConfirmClose=TRUE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=TRUE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=TRUE
ColorForeground=#dcdcdc
ColorBackground=#2105221436d4
ColorCursor=#dcdcdc
ColorPalette=#3f3f3f3f3f3f;#ffff24543d06;#6060b4b48a8a;#ffff734b2d9d;#2743bb04dbdc;#ecec9393d3d3;#8c8cd0d0d3d3;#dcdcdcdcdcdc;#707090908080;#c162ffff5a95;#7272d5d5a3a3;#f0f0dfdfafaf;#9494bfbff3f3;#cd6000009368;#9393e0e0e3e3;#ffffffffffff
ColorBold=#eb5099935684
ColorSelection=#f6a1d7d1d7d1
ColorBoldUseDefault=FALSE

