[Configuration]
ColorForeground=#dcdcdc
MiscAlwaysShowTabs=FALSE
MiscBell=FALSE
MiscBordersDefault=TRUE
MiscCursorBlinks=FALSE
MiscCursorShape=TERMINAL_CURSOR_SHAPE_BLOCK
MiscDefaultGeometry=80x24
MiscInheritGeometry=FALSE
MiscMenubarDefault=TRUE
MiscMouseAutohide=FALSE
MiscToolbarDefault=FALSE
MiscConfirmClose=TRUE
MiscCycleTabs=TRUE
MiscTabCloseButtons=TRUE
MiscTabCloseMiddleClick=TRUE
MiscTabPosition=GTK_POS_TOP
MiscHighlightUrls=TRUE
ColorBackground=#45fa314247f5
ColorPalette=#3f3f3f3f3f3f;#e640414725d4;#407fd7b38c1a;#ffffff9d6f7b;#4770b42657ea;#dcdc8c8cc3c3;#8c8cd0d0d3d3;#dcdcdcdcdcdc;#707090908080;#f53c2dab1617;#70699c718634;#f0f0dfdfafaf;#9494bfbff3f3;#ecec9393d3d3;#9393e0e0e3e3;#ffffffffffff
ColorCursor=#dcdcdc
ColorBoldUseDefault=FALSE
ColorBold=#bb90d6992430
TabActivityColor=#aaaa00000000
